.horizontal-timeline {
  &__title {
    margin-bottom: 5px;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 600;
    color: $color-gray-darker;
  }

  .timeline-item.rct-item {
    margin-left: -12px; // centers icon
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    border-radius: 50%;
    border: 0;
    background-color: $color-blue;
    font-size: 1em;

    .rct-item-overflow .rct-item-content {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .rct-vertical-lines {
    .rct-vl {
      border-left: 4px solid $color-blue-gray-light;

      &.rct-vl-first {
        border-left-width: 4px;
      }
    }
  }

  .rct-today {
    background: repeating-linear-gradient(
      45deg,
      $color-red,
      $color-red 10px,
      darken($color-red, 10%) 10px,
      darken($color-red, 10%) 20px
    );
    width: 4px;

  }

  .rct-horizontal-lines {
    .rct-hl-even,
    .rct-hl-odd {
      border: 1px solid lighten($color-blue-gray, 20%);
      background: $color-blue-gray;
      opacity: 0.2;
    }
  }

  .rct-header {
    .rct-label {
      border: 0;
      background-color: $color-white;
      color: $color-text;
    }

    .rct-label-group {
      background: $color-blue;
      border: 1px solid $color-white;
      font-size: 1.1em;
      font-weight: 600;
    }
  }

  &__legend {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5px;

    .legend-item {
      display: flex;
      margin-top: 2px;
      color: $color-blue;
      font-size: 0.9em;
      font-weight: 600;
      width: 140px;

      &-row {
        display: flex;
        // flex-direction: column;
      }

      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-blue;
        color: $color-white;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        margin-right: 5px;
      }
    }
  }
}
