.vertical-timeline {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 8px;

    &:first-child {
      padding-top: 8px;
    }

    &:hover {
      background-color: $color-gray-lightest;
    }

    &-timeline {
      display: flex;
    }

    &-info {
      padding: 0 20px 15px 20px;
      border-left: 1px solid $color-blue;
      margin-left: -10px;
    }

    &:last-of-type {
      .vertical-timeline__item-info {
        border-left-style: dashed;
      }
    }

    .info-date,
    .info-description {
      color: $color-blue-gray-dark;
      font-size: 1.1em;
    }

    .info-date {
      font-weight: 600;
    }

    &-buttons {
      display: flex;
      align-items: center;

      button {
        font-size: .9em;

        &:hover {
          background-color: transparent;
        }

        svg {
          margin-right: 3px;
        }

        img {
          margin-right: 3px;
          height: 12px;
          color: $color-black;
        }
      }
    }
  }

  &__view-more-less {
    display: flex;
    padding-left: 8px;
  }

  &__view-more,
  &__view-less {
    display: flex;
    margin-left: -7px;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &-text {
      color: $color-blue-gray-dark;
      font-size: 1.1em;
      margin-left: 12px;

      &:hover {
        color: $color-text;
      }
    }
  }

  .last-item {
    .vertical-timeline__item-info {
      border: none;
    }
  }

  &__view-less .view-less-slash {
    margin-left: 4px;
  }
}
