.health-record__body {
    display: flex;
    flex-direction: row;
}

.js-toc {
    flex-basis: 10%;
    background-color: #e7eaee;
}

.js-toc > ol {
    list-style-type: none;
}

.js-toc-content {
    flex-basis: 90%;
    padding: 20px 40px;
    background-color: #fff;
}

.health-record__summary {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.divider {
    border-left: 2px solid #e7eaee;
    margin: 0px 30px;
}