.health-record__body {
    display: flex;
    flex-direction: row;
}

.js-toc {
    flex-basis: 10%;
    background-color: #e7eaee;
}

.js-toc > ol {
    list-style-type: none;
}

.js-toc-content {
    flex-basis: 90%;
    padding: 20px 40px;
    background-color: #fff;
}

.health-record__header {
    display: flex;
    flex-direction: row;
    color: #6b8eb6;
    font-size: 10px;
}

.health-record__header hr {
    color: red;
}