#root {
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $color-black;
  font-size: 14px;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

input[type="text"], input[type="password"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

a {
  color: $color-blue;
}

a:-webkit-any-link {
  text-decoration: none;
}

h1, h2 {
  font-size: calc(0.8em + 0.8vw);
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  color: $color-blue;
}

h3 {
  font-size: calc(1em + 1vw);
  color: $color-blue-gray;
  letter-spacing: 1px;
}

h4 {
  margin-right: 5px;
  letter-spacing: normal;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
}

h5 {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 600;
  letter-spacing: normal;
  color: $color-gray-darker;
  text-transform: inherit;
}

button:active,
button:focus {
  outline: none !important;
}
