.button {
  display: block;
  padding: 15px;
  margin: 0 20px;
  color: $color-white;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
  min-width: 300px;

  &:hover {
    color: $color-white;
    cursor: pointer;
  }

  &.button-primary {
    background-color: $color-blue;

    &:hover {
      background-color: darken($color-blue, 10%);
    }
  }

  &.button-secondary {
    background-color: $color-blue-gray;

    &:hover {
      background-color: darken($color-blue-gray, 10%);
    }
  }

  &.button-responsive {
    font-size: calc(0.8em + 0.6vw);
    min-width: calc(100px + 14vw);
    margin: 0 calc(5px + 1vw);
    padding: calc(4px + 0.6vw);
    border-radius: calc(2px + 0.5vw);
  }
}
