.icon-health-record {
  width: 20px !important;
  height: 20px !important;
  background-color: $color-blue;
  color: $color-white;
  border-radius: 50%;
  padding: 4px;
  font-size: 1.4em;
  z-index: 1;
}
