//-------------------------- Colors -----------------------------------------//
$color-blue: #6b8eb6;
$color-blue-gray: #7e90a3;
$color-blue-gray-dark: #6c7988;
$color-white: #fff;
$color-gray: #919295;
$color-gray-dark: #7d7d7d;
$color-gray-lightest: #e7eaee;
$color-black: #4a4a4a;
$color-red: #b66b80;

$color-text: $color-black;

//-------------------------- Responsive -------------------------------------//
$responsive-padding: calc(10px + 5vw);
