.provider-card {
  &__titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    color: $color-gray-darker;
    background-color: $color-gray-lightest;
    margin-bottom: 5px;

    &-name {
      align-self: center;
      font-weight: bold;
      padding-left: 15px;
    }
    
    &-icon {
      align-self: center;
      padding-right: 10px;
      
      & svg:hover {
        cursor: pointer;
      }
    }
  }

  &__details {
    margin: 20px 30px 40px;

    .details-dates-logo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .details-dates {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;

        &-added-on, &-last-updated {
          display: flex;
          flex-direction: row;

          .date-key {
            flex-basis: 115px;
            color: $color-gray-darker;
            font-weight: bold;
          }

          .date-value {
            flex-basis: 130px;
          }

          .date-verified {
            flex-basis: 75px;
            color: $color-blue;
            font-weight: bold;
          }
        }
      }
    }
  }
}