.provider-modal {
  position: absolute;
  overflow: auto;
  width: 60%;
  top: 20%;
  left: 20%;
  right: auto;
  bottom: auto;
  background: $color-white;
  border-radius: 4px;
  outline: none;

  &__overlay {
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(126, 144, 163, 0.7);
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-gray-lightest;
    padding: 20px 30px;
    font-size: 1.2em;
    font-weight: bold;

    &-icon {
      align-self: center;
      cursor: pointer;
    }
  }

  &__body {
    padding: 15px 25px;

    .permissions {
      &-title {
        font-weight: 600;
        font-style: italic;
        width: 100%;
        border-bottom: 2px solid $color-gray-lightest;
        margin-bottom: 12px
      }

      &-buttons {
        display: flex;
        flex-direction: column;
        
        label {
          height: 20px;
        }
      }

      &-partial {
        margin-left: 35px;

        &__section {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 3px 10px;

          &-title {
            font-style: italic;
          }

          &-access:hover {
            cursor: pointer;
          }
        }

        &__section:hover {
          background-color: $color-gray-lightest;
        }
      }
    }
  }

  &__footer {
    background-color: $color-gray-lightest;
    padding: 12px 25px;

    &-buttons {
      display: flex;
      justify-content: flex-end;

      button {
        min-width: 120px;
        border: 0;
      }
  
      .button-cancel {
        margin-right: 10px;
        font-size: .8em;
        color: $color-blue;
      }

      .button-save {
        font-size: 1.2em;
      }
    }
  }
}