.providers-search {
  margin-bottom: 20px;

  input {
    height: 50px;
    width: 100%;
    border: 1px solid $color-gray;
    border-radius: 25px;
    padding-left: 40px;
    font-size: 1.2em;

    &:hover,
    &:active,
    &:focus {
      outline: none;
    }

    &::placeholder {
      font-style: italic;
    }
  }

  .react-autosuggest__suggestions-container {
    margin: 5px 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 10px 10px 10px 40px;
        cursor: pointer;
      }
    }
  }
}
