.allergies {
  color: $color-text;

  &__table {
    display: flex;
    flex-direction: column;
    padding: 8px 15px;
    background-color: $color-gray-lightest;

    &-label {
      font-size: 1.1em;
      font-weight: bold;
      font-style: italic;
      padding-bottom: 5px;
    }

    &-header {
      display: flex;
      flex-direction: row;
      padding: 5px 0px;

      span {
        font-weight: bold;
        border-bottom: 1.5px solid $color-blue;
      }
    }

    &-row {
      display: flex;
      flex-direction: row;
      padding: 5px 0px;
    }

    &-allergy {
      flex-basis: 45%;
    }

    &-severity {
      flex-basis: 25%;
    }

    &-status {
      flex-basis: 30%;
    }
  }
}
