.conditions {
  color: $color-text;

  &__table {
    display: flex;
    flex-direction: column;
    padding: 8px 15px;
    margin-bottom: 15px;
    background-color: $color-gray-lightest;

    &-label {
      font-size: 1.1em;
      font-weight: bold;
      font-style: italic;
      padding-bottom: 5px;
    }

    &-header span {
      font-weight: bold;
      border-bottom: 1.5px solid $color-blue;
    }

    &-row {
      display: flex;
      flex-direction: row;
      padding: 5px 0px;
    }

    &-condition {
      flex-basis: 45%;
    }

    &-diagnosed-date {
      flex-basis: 20%;
    }

    &-diagnosed-by {
      flex-basis: 35%;
    }
  }
}
