.health-record__summary {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.summary__divider {
    border-left: 2px solid #e7eaee;
    margin: 0px 30px;
}

.summary__table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

.summary__row {
    display: flex;
    flex-direction: row;
}

.summary__key {
    width: 85px;
    font-weight: bold;
}

.summary__pcp {
    color: #6b8eb6;
    font-weight: bold;
}
