.summary {
  margin-bottom: 20px;

  &__profile-photo {
    width: 140px;
    border-radius: 50%;
  }

  &__image {
    align-self: center;
    color: $color-gray-lightest;
    fill: $color-gray-lightest;

    svg {
      font-size: 10em;
    }

    &-table {
      display: flex;
      flex-direction: row;
    }
  }

  &__divider {
    border-left: 2px solid $color-gray-lightest;
    margin: 0px 30px;
  }

  &__table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1em;

    &-row {
      display: flex;
      flex-direction: row;
    }

    &-key {
      width: 85px;
      font-weight: bold;
    }

    &-pcp {
      color: $color-blue;
      font-weight: bold;
    }
  }

  &__timeline {
    margin-top: 20px;
  }
}
